<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Users>
    <User>
      <FIO>Рыкуш И.В.</FIO>
      <Pwd>280372</Pwd>
    </User>
    <User>
      <FIO>Миненкова О.В.</FIO>
      <Pwd>768329</Pwd>
    </User>
    <User>
      <FIO>Демин В.Н.</FIO>
      <Pwd>340522</Pwd>
    </User>
    <User>
      <FIO>Исенко Е.В.</FIO>
      <Pwd>820719</Pwd>
    </User>
  </Users>
  <Scanners>
    <Scanner>
      <MAC>00:0B:6C:B8:CC:C0</MAC>
      <Nomer>01</Nomer>
    </Scanner>
    <Scanner>
      <MAC>00:0B:6C:CF:2D:11</MAC>
      <Nomer>02</Nomer>
    </Scanner>
    <Scanner>
      <MAC>00:0B:6C:C4:3A:02</MAC>
      <Nomer>03</Nomer>
    </Scanner>
  </Scanners>
  <Locations>
    <Location>
      <LID>1</LID>
      <Name>СкладГП</Name>
    </Location>
    <Location>
      <LID>2</LID>
      <Name>КонвейерЦГП</Name>
    </Location>
    <Location>
      <LID>3</LID>
      <Name>Сборка1103</Name>
    </Location>
    <Location>
      <LID>9</LID>
      <Name>Контрагент</Name>
    </Location>
  </Locations>
  <Transfers>
    <Transfer>
      <Name>Отгрузка ГП</Name>
      <From>1,2,3</From>
      <To>9</To>
    </Transfer>
    <Transfer>
      <Name>Приход На Склад</Name>
      <From>2,3</From>
      <To>1</To>
    </Transfer>
  </Transfers>
  <CommonSettings>
    <ServerIP>192.168.10.213</ServerIP>
    <BaseUrl>/CargoDocService.svc</BaseUrl>
    <LogLevel>1</LogLevel>
  </CommonSettings>
</Settings>